*{ /** Set Poppins regular as default font **/
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* Disable link style, but keep hand on hover */
    text-decoration: none !important;

    /* Define palette */
    --primary: #ffe5ac;
    --primary-hover: #fcf2bf;
    --secondary: #f3944c;
    --tertiary: #74dec2;
    --tertiary-hover: #4ec9a7;
}



/* Custom styles for navbar */
.navbar {
    background-color: var(--primary);
    color: black !important;
    display: none !important;
}
.navbar-toggler {
    border-color: var(--gray-dark) !important;
}

.nav-link{
    color: var(--gray-dark) !important;
}




.sidebar {
    background-color: var(--primary);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sidebar-item {
    var(--gray-dark)
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.sidebar-item:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
}



/** Easy poppins font classes **/
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}



/* Show sidebar on small devices */
@media (max-width: 768px) {
    .navbar {
        display: block !important;
    }
    .sidebar {
        display: none;
    }
}